body {
    background-image: url(../image/mbg.gif);    
    background-origin: padding-box;
    background-size: auto;
    font-family:cambria, consolas, tahoma;
    margin:0px;  
    font-size:15pt;    
}

nav {
    background-image: url(../image/nav-bg.gif);    
    background-origin: padding-box;
    background-size: auto;
}

.HeaderBar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #535353;
    background-image: url(../image/nav-bg.gif);
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: #767676;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    margin:0px;
    font-size:15pt;
    height:48px;
}

.HeaderBtn {
    background-color: #477767;
    border:2px;
    border-style:solid;
    border-color:#767676;
    color: #eee;
    float:left;
    height:28px;
    margin-left:15px;
    padding:10px;
    padding-bottom:8px;
    text-align: center;    
    text-shadow: silver 1px 1px 2px;
    width:144px;
    
}

.MenuBtn ,.OutMenu {
    background-color:#888;
    border:2px;
    border-style:solid;
    border-color:#767676;
    font-size:28px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    margin-bottom:8px;
    padding:10px;
    position:relative;
    text-align:center;
    text-shadow: silver 1px 1px 2px;
    width:144px;
    height:32px;
}

a {
    color:#eee;
    text-decoration: none;
}

u {    
}

div {
  -webkit-box-shadow:0 0 15px rgba(0, 204, 204, .5);  
  -moz-box-shadow:0 0 15px rgba(0, 204, 204, .5);  
  box-shadow:0 0 15px rgba(0, 204, 204, .5);  
}

.essay {
    background-image:url('../image/bg.png');
    color:#ccc;
    font-size:11pt;
    text-indent:2em;
    top:150px;
    left:230px;
    position:absolute;
    width:640px;
}

.OnMenu {
    background-color:#aaa;
    border:2px;
    border-style:solid;
    border-color:#767676;
    color:#0f0;
    font-size:28px;
    margin-left:18px;
    margin-right:15px;
    margin-top:15px;
    margin-bottom:8px;
    padding:10px;
    position:relative;
    text-align:center;
    text-shadow: silver 1px 1px 2px;
    
    width:144px;
    height:32px;
        
    -webkit-box-shadow:0 0 45px rgba(0, 204, 204, .8);  
    -moz-box-shadow:0 0 45x rgba(0, 204, 204, .8);  
    box-shadow:0 0 45px rgba(0, 204, 204, .8);  
}

.title ,.LeftTitle {
    color:#eee;
    margin-left:303px;
    text-shadow: blue 2px 2px 2px;
    width: 400px;
}

.OnTitle {
    color:#ccc;
    margin-left:303px;
    text-shadow: blue 2px 2px 3px;
} 

main {    
}